.navbar {
	width: 100%;
	margin-bottom: 30px;
}

.list {
	display: flex;
	justify-content: space-between;
}

.link {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	width: 100%;
	padding: 23px 22px 23px 22px;
	background-color: transparent;
	text-transform: uppercase;
	transition: 0.3s all ease;
	color: var(--primary);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	letter-spacing: 0.2em;
	cursor: pointer;

	&:hover {
		background-color: var(--primary);
		color: var(--white);
	}
}